{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="page-header">POST LIST</h2>
    {% if posts is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title|truncate(20) }}</td>
                    <td>{{ post.description|truncate(120) }}</td>
                    <td>{{ post.category }}</td>
                    <td>
                        <a href="{{ path('view_post', {'id': post.id}) }}" class="btn btn-primary btn-sm">View</a>
                        <a href="{{ path('edit_post', {'id': post.id}) }}" class="btn btn-success btn-sm">Edit</a>
                        <a href="{{ path('delete_post', {'id': post.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Posts Found.</p>
    {% endif %}

    <a href="{{ path('new_post') }}" class="btn btn-primary">Create New Post</a>
{% endblock %}
