{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="page-header">VIEW SINGLE POST</h2>
    <h3><strong>{{ post.title }}</strong></h3>
    <p>[{{ post.category }}]</p>
    <p>{{ post.description }}</p>
{% endblock %}
